#addProposal input{
    width:70%;
    height:12%;
    background-color: #121212;
    font-size: 2em;
    border: transparent;
    margin-bottom: 5%;
    text-align: center;
    color:white;
    border-radius: 5px;
}
#addProposal p{
    font-size: 2em;
    margin-bottom: 12%;
}
#addProposal button{
    background-color: rgb(40, 167, 69);
    border:0px;
    height: 15%;
    width: 40%;
    font-size: 1.2em;
    border-radius: 10px;
    color:white;
    font-size: 2em;
}

#addProposal{
    border-radius: 10px;
    width:35vw;
    height:30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
}